{% extends 'baseBack.html.twig' %}

{% block stylesheets %}
  <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/main.min.css' rel='stylesheet' />
{% endblock %}

{% block body %}
  
  <a class="btn btn-sm btn-info"  href="{{ path('app_location_new') }}">Create new booking</a>
  <div id='calendar'></div>

  {% block javascripts %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.6/index.global.min.js'></script>
    <script>
     document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    events: function(fetchInfo, successCallback, failureCallback) {
      // Make an API call to retrieve the events data
      fetch('/api/location')
        .then(response => response.json())
        .then(data => {
          // Transform the API response data into FullCalendar events
          const events = data.map(item => ({
            id: item.id,
            title: item.nom,
            start: new Date(item.contrat.dateDebut),
            end: new Date(item.contrat.dateFin),
            description: item.description,
            color: getRandomColor()
          }));
          // Call the successCallback with the transformed events array
          successCallback(events);
        })
        .catch(error => {
          // Call the failureCallback with the error message
          failureCallback(error.message);
        });
    }
  });
  calendar.render();


function getRandomColor() {
  const letters = '0123456789ABCDEF';
  let color = '#';
  for (let i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

});
    </script>
  {% endblock %}
{% endblock %}