{{ form_start(form) }}
    {{ form_widget(form) }}
     <div class="form-group">
                 
                    <button class="btn btn-primary" style="width:300px; margin:1px; background-color:#8DD3BB; margin: 0 auto; display: block;" type="submit">Ajouter</button>

                   
                    </button>
                  </div>
{{ form_end(form) }}
