{% extends 'baseBack.html.twig' %}

{% block tableau %}

<div class="col-xl-0">

									<!--begin::Charts Widget 1-->
									
										<!--begin::Header-->
										<div class="card-header border-0 pt-5">
                                        <div class="container">

                                        <div class="card card-xl-stretch mb-5 mb-xl-8" style="width: 780px;">
										<!--begin::Header-->
										<div class="card-header border-0 pt-5">

 {{ include('user/_form.html.twig', {'button_label': 'ROLE'}) }}


 </div>
    </div>
  </div>
  </div>
  </div>
 {% endblock %}